.section__padding {
  padding: 4rem 6rem;
}

.p__teko {
  font-family: var(--font-base);
  color: var(--color-white);
  line-height: 29.9px;
  font-size: 23px;
  letter-spacing: 0.04em;
}

.headtext__teko {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
}