.section__padding {
  padding: 4rem 6rem;
}

.p__teko {
  font-family: var(--font-base);
  color: var(--color-white);
  line-height: 29.9px;
  font-size: 23px;
  letter-spacing: 0.04em;
}

.headtext__teko {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
}

.app__bg {
  background: linear-gradient(143deg, rgb(22, 10, 13) 0%, rgb(17, 54, 52) 100%);
}

.app__wrapper {
  min-height: 100vh;
}

.custom__button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover {
  background-color: var(--color-secondary);
}

@media screen and (max-width: 450px) {
  .headtext__teko {
      font-size: 45px;
      line-height: 70px;
  }
}