@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

:root {
  --color-back: #160A0D;
  --color-primary: #c44242;
  --color-secondary: #113634;
  --color-accent: #478b9e;
  --color-white: #f1dfe4;

  --font-base: 'Teko', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

